{% extends "template.html" %}
{% block content %}
  {{ super() }}
  <div class="color-secondary ml-5 ml-lg-5 mt-5 mt-lg-5 mb-5 mb-lg-5 gap-lg-5 gap-5"
       style="font-size: 2rem">
    <p>Bug เป็นแค่สัญญาณหนึ่งที่สะท้อนปัญหา ลึกลงไปในวิธีการทำงานของเรา</p>
    <p>...แล้วเดี๋ยวนี้ ยังมีใครพูดถึง "ความสุข" ในการทำงานอยู่ไหมนะ?</p>
  </div>
  <p>ลองมาดูปัญหาที่เจอบ่อย ๆ และคำแนะนำเล็ก ๆ น้อย ๆ ที่อาจจะช่วยคุณได้</p>
  <div id="signal-list">
    {% for signal in signals %}
      <div class="card">
        <div class="card-header" id="heading{{ loop.index }}">
          <h5 class="mb-0">
            <button class="content-header text-primary btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapse{{ loop.index }}"
                    aria-expanded="false" aria-controls="collapse{{ loop.index }}">
              {{ signal.title }}
            </button>
          </h5>
        </div>
        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}"
             data-parent="#signal-list">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for advice in signal.advice_list %}
                <li class="list-group-item"><a style="color: coral"
                                               href="{{ advice.link }}">▸ {{ advice.title }}</a>
                  <div>{{ advice.short_description }}</div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}