{% extends "template.html" %}
{% block content %}
  {{ super() }}
  <h1 class="color-primary">สัญญาณของโค้ดไม่มีคุณภาพ</h1>
  <p class="color-secondary">ปกติเราจะมองว่า Bug เป็นตัวร้ายหลักของการสร้าง software แต่จริง ๆ
    แล้วสิ่งที่เป็นต้นตอของปัญหาหลาย ๆ อย่าง
    ที่หลายคนอาจจะมองข้ามไปคือคุณภาพของโค้ด</p>
  <p class="color-secondary">โค้ดที่มีคุณภาพดี ทำให้เราทำงานสะดวก ทำงานร่วมกับคนอื่นได้ง่าย หา Bug
    ได้รวดเร็ว<br>ในทางตรงกันข้าม
    โค้ดที่ไม่มีคุณภาพก็จะสร้างปัญหามากมายให้กับทีมได้เช่นกัน</p>
  <p class="color-secondary">เว็บนี้ได้รวบรวม "สัญญาณ" ที่อาจจะเป็นตัวบอกว่าโค้ด <i>หรือทีม</i>
    ของคุณกำลังมีปัญหาอยู่ มาให้ลองเช็คกัน
    พร้อมกับ video
    และบทความ ที่อาจจะช่วยแก้ปัญหาแต่ละเรื่องได้เอาไว้ให้แล้ว</p>
  <div id="signal-list">
    {% for signal in signals %}
      <div class="card">
        <div class="card-header" id="heading{{ loop.index }}">
          <h5 class="mb-0">
            <button class="content-header btn btn-link collapsed" data-toggle="collapse"
                    data-target="#collapse{{ loop.index }}"
                    aria-expanded="false" aria-controls="collapse{{ loop.index }}">
              {{ signal.title }}
            </button>
          </h5>
        </div>
        <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}"
             data-parent="#signal-list">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for advice in signal.advice_list %}
                <li class="list-group-item"><a href="{{ advice.link }}">▸ {{ advice.title }}</a>
                  <div class="color-secondary">{{ advice.short_description }}</div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}